
/***** general styles for mod2_solution index.html *******/

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 300%;
  font-family: sans-serif;
  text-align: center;
}

h2 {
  text-align: right;
}
 p {
  clear: both;
  margin-left: 2%;
  margin-right: 2%;
 }

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
}

.menu-item {
  background-color: #d3d3d3;
  font-size: 110%;
  text-align: justify;
  font-family: sans-serif;
  border: 1px solid black;
  box-sizing: border-box;
  margin: 1%;
  width: 30%;
  float: left;
}

section#chicken {
  float: right;
  /*padding: 1%;*/
  clear: both;
  background-color: blue;
  border: 1px solid black;
  padding-left: 4%;
  padding-right: 4%;
}

section#beef {
  float: right;
  /*padding: 1%;*/
  clear: both;
  background-color: red;
  border: 1px solid black;
  padding-left: 4%;
  padding-right: 4%;
}

section#sushi {
  float: right;
  /*padding: 1%;*/
  clear: both;
  background-color: green;
  border: 1px solid black;
  padding-left: 4%;
  padding-right: 4%;
}


/*** Media queries ***/

/* tablet */
@media (min-width: 768px) and (max-width: 992px) {
          .menu-item {
            width: 48%;
          }

          .lower-item {
            width: 100%;
          }
          p {
            padding-right: 4%;
          }
    }

/* phone */

@media (max-width: 767px) {
      .menu-item {
        width: 100%;
      }
      p {
        padding-right: 4%;
      }

}